
# General

# Ignore files starting with a double underscore
__*

# VSCode
.vscode/

# Pycharm
*.idea

# Git
*.git

# Python
*.pyc
__pycache__
.venv/

# Pytest
.coverage

# Setuptools
*.egg-info

# MacOS
.DS_Store

# SQL
*.db
