
# General

# Ignore files starting with a double underscore
__*

# VSCode
.vscode/

# Git
*.git

# Python
*.pyc
__pycache__
.venv/
venv/

# Tests
.coverage
.pytest_cache/
htmlcov/

# MacOS
.DS_Store

# SQL
*.db
